body {
    background-size: cover;
    background-color:white;
    width:100%;
    height:100vh;
    text-align: center;
    white-space: nowrap;
}
/* The ghost, nudged to maintain perfect centering */
body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.background-login {
    display: inline-block;
    vertical-align: middle;
    width:50%;
}

.card-header {
    font-size: 20px;
    color: orange;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: none;
}

.card {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
}

.card input[type='password'],.card input[type='email'] {
    margin:0 auto;
    width:50%;
}

.card button {
    background-color: orange;
    border: 0;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .background-login {
        width:60%;
    }
}

@media only screen and (max-width: 600px) {
    .background-login {
        width:100%;
    }
}