/* Moka Template */

.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    width: 100%;
}
.backgroundTable {
    margin: 0 auto;
    padding: 0;
    width: 100% !impor\
.ExternalClass * {
    line-height: 115%;
}
p {
    margin: 0;
}
div.tpl-content {
    padding: 0 !important;
}
/* End reset */
span.preheader {
    display: none;
    font-size: 1px;
    visibility: hidden;
    opacity: 0;
    color: transparent;
    height: 0;
    width: 0;
}
a {
    text-decoration: none;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
img {
    max-width: 100% !important;
}
table, td {
    border-collapse: collapse;
}
table.textbutton {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
/* These are our tablet/medium screen media queries */
@media only screen and (max-width: 795px) {
    img {
        max-width: 100% !important;
        height: auto !important;
    }
    /* Display block allows us to stack elements */
    *[class="mobile-column"], .mobile-column {
        display: block;
    }
    /* Some more stacking elements */
    *[class="mob-column"], .mob-column {
        float: none !important;
        width: 100% !important;
    }
    /* Hide stuff */
    *[class="hide"], .hide {
        display: none !important;
    }
    /* For the 2x2 stack */
    *[class="condensed"], .condensed {
        padding-bottom: 40px !important;
        display: block;
    }
    /* Centers content on mobile */
    *[class="center"], .center {
        text-align: center !important;
        width: 100% !important;
        height: auto !important;
    }
    /* 100percent width section with 20px padding */
    *[class="100pad"] {
        width: 100% !important;
        padding: 20px;
    }
    /* 100percent width section with 20px padding left & right */
    *[class="100padleftright"] {
        width: 100% !important;
        padding: 0 20px 0 20px;
    }
    /* 100percent width section with 20px padding top & bottom */
    *[class="100padtopbottom"] {
        width: 100% !important;
        padding: 20px 0 20px 0;
    }
    /* 100percent width section with 20px padding top & bottom */
    *[class="hr"], .hr {
        width: 100% !important;
    }
    /* This sets elements to 100% width and fixes the height issues too, a god send */
    *[class="p10"], .p10 {
        width: 10% !important;
        height: auto !important;
    }
    *[class="p20"], .p20 {
        width: 20% !important;
        height: auto !important;
    }
    *[class="p30"], .p30 {
        width: 30% !important;
        height: auto !important;
    }
    *[class="p40"], .p40 {
        width: 40% !important;
        height: auto !important;
    }
    *[class="p50"], .p50 {
        width: 50% !important;
        height: auto !important;
    }
    *[class="p60"], .p60 {
        width: 60% !important;
        height: auto !important;
    }
    *[class="p70"], .p70 {
        width: 70% !important;
        height: auto !important;
    }
    *[class="p80"], .p80 {
        width: 80% !important;
        height: auto !important;
    }
    *[class="p90"], .p90 {
        width: 90% !important;
        height: auto !important;
    }
    *[class="p100"], .p100 {
        width: 100% !important;
        height: auto !important;
    }
    *[class="p15"], .p15 {
        width: 15% !important;
        height: auto !important;
    }
    *[class="p25"], .p25 {
        width: 25% !important;
        height: auto !important;
    }
    *[class="p33"], .p33 {
        width: 33% !important;
        height: auto !important;
    }
    *[class="p35"], .p35 {
        width: 35% !important;
        height: auto !important;
    }
    *[class="p45"], .p45 {
        width: 45% !important;
        height: auto !important;
    }
    *[class="p55"], .p55 {
        width: 55% !important;
        height: auto !important;
    }
    *[class="p65"], .p65 {
        width: 65% !important;
        height: auto !important;
    }
    *[class="p75"], .p75 {
        width: 75% !important;
        height: auto !important;
    }
    *[class="p85"], .p85 {
        width: 85% !important;
        height: auto !important;
    }
    *[class="p95"], .p95 {
        width: 95% !important;
        height: auto !important;
    }
    *[class="alignleft"] {
        text-align: left !important;
    }
    *[class="100button"] {
        width: 100% !important;
    }
}
/* These are our smartphone/small screen media queries */
@media only screen and (max-width: 450px) {
    *[class="xs-no-pad"], .xs-no-pad {
        padding: 0 !important;
    }
    /* Width on small screen devices */
    *[class="xs-p25"], .xs-p25 {
        width: 25% !important;
        height: auto !important;
    }
    *[class="xs-p50"], .xs-p50 {
        width: 50% !important;
        height: auto !important;
    }
    *[class="xs-p75"], .xs-p75 {
        width: 75% !important;
        height: auto !important;
    }
    *[class="xs-p100"], .xs-p100 {
        width: 100% !important;
        height: auto !important;
    }
    /* Hide stuff */
    *[class="xs-hide"], .xs-hide {
        display: none !important;
    }
}


/* Sentinel Template */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
table { border-spacing: 0; border-collapse: collapse; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
img { display: block !important; }
a { text-decoration: none; color: #e54a39; }

/* Media Queries */

@media only screen and (max-width: 640px) {
    body { width: auto !important; }
    table[class="table600"] { width: 450px !important; }
    table[class="table-container"] { width: 90% !important; }
    table[class="container2-2"] { width: 47% !important; text-align: left !important; }
    table[class="full-width"] { width: 100% !important; text-align: center !important; }
    img[class="img-full"] { width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 479px) {
    body { width: auto !important; }
    table[class="table600"] { width: 290px !important; }
    table[class="table-container"] { width: 82% !important; }
    table[class="container2-2"] { width: 100% !important; text-align: left !important; }
    table[class="full-width"] { width: 100% !important; text-align: center !important; }
    img[class="img-full"] { width: 100% !important; }
}