<table>
    <tr class="row">
        <td class="col-md-12" colspan="12">
            <img src="https://dummyimage.com/710x400/000/fff" style="width:100%">
        </td>
    </tr>
    <tr class="row" style="margin:25px 0;">
        <td class="col-md-12" colspan="12"><h2>Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis.</h2></td>
    </tr>
    <tr class="row">
        <td class="col-md-6 text-center text-justify" colspan="6">
            <img src="https://dummyimage.com/355x200/000/fff"  style="width:100%">
            <p style="margin:20px 0">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
        <td class="col-md-6 text-center text-justify"  colspan="6">
            <img src="https://dummyimage.com/355x200/000/fff" style="width:100%">
            <p style="margin:20px 0">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-4 text-center text-justify"  colspan="4">
            <img src="https://dummyimage.com/236x200/000/fff" style="width:100%">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
        <td class="col-md-4 text-center text-justify"  colspan="4">
            <img src="https://dummyimage.com/236x200/000/fff" style="width:100%">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
        <td class="col-md-4 text-center text-justify"  colspan="4">
            <img src="https://dummyimage.com/236x200/000/fff" style="width:100%">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-12"  colspan="12"  style="margin:20px 0">
            <img src="https://dummyimage.com/710x400/000/fff" style="width:100%">
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-12"  colspan="12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc vel porta feugiat. Duis molestie aliquet posuere. Maecenas ligula orci, pharetra sed orci vel, facilisis pretium ligula. Cras risus libero, lacinia in elit vel, pulvinar vestibulum lectus. Nunc facilisis nec dolor consectetur gravida. Fusce efficitur suscipit sem id sollicitudin. Fusce molestie eget ipsum ut vehicula. Vestibulum lorem ante, volutpat non urna sit amet, bibendum venenatis urna.</p>
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-6"  colspan="6" style="margin:20px 0">
            <img src="https://dummyimage.com/355x400/000/fff" style="width:100%">
        </td>
        <td class="col-md-6"  colspan="6" style="margin:20px 0;">
            <img src="https://dummyimage.com/355x400/000/fff" style="width:100%">
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-12"  colspan="12">
            <img src="https://dummyimage.com/710x200/000/fff" style="width:100%">
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-12" colspan="12" style="margin:20px 0;"><h2>Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis.</h2></td>

        <td class="col-md-12"  colspan="12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc vel porta feugiat. Duis molestie aliquet posuere. Maecenas ligula orci, pharetra sed orci vel, facilisis pretium ligula. Cras risus libero, lacinia in elit vel, pulvinar vestibulum lectus. Nunc facilisis nec dolor consectetur gravida. Fusce efficitur suscipit sem id sollicitudin. Fusce molestie eget ipsum ut vehicula. Vestibulum lorem ante, volutpat non urna sit amet, bibendum venenatis urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc vel porta feugiat. Duis molestie aliquet posuere. Maecenas ligula orci, pharetra sed orci vel, facilisis pretium ligula. Cras risus libero, lacinia in elit vel, pulvinar vestibulum lectus. Nunc facilisis nec dolor consectetur gravida. Fusce efficitur suscipit sem id sollicitudin. Fusce molestie eget ipsum ut vehicula. Vestibulum lorem ante, volutpat non urna sit amet, bibendum venenatis urna</p>
        </td>
        <td class="col-md-12 text-center"  colspan="12" style="margin:20px 0;height:10px;background-color:deepskyblue">
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-4 text-center text-justify"  colspan="4" style="margin:20px 0">
            <img src="https://dummyimage.com/200x200/000/fff" style="border-radius: 200px;width:200px;">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
        <td class="col-md-4 text-center text-justify"  colspan="4" style="margin:20px 0">
            <img src="https://dummyimage.com/200x200/000/fff" style="border-radius: 200px;width:200px;">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
        <td class="col-md-4 text-center text-justify"  colspan="4" style="margin:20px 0">
            <img src="https://dummyimage.com/200x200/000/fff" style="border-radius: 200px;width:200px;">
            <p style="margin-top:20px;">Etiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in libero lobortis congue.tiam at purus quis felis commodo consectetur nec at mauris. Nunc sed tellus in.</p>
        </td>
    </tr>
    <tr>
        <td class="col-md-12 text-center"  colspan="12">
            <a href="#" style="color: white;background-color: #0098ff;padding: 10px 50px;margin: 10px 0;display: inline-block;font-size: 22px;">Buy Now</a>
        </td>
    </tr>
    <tr class="row">
        <td class="col-md-12"  colspan="12" style="margin:20px 0;">
            <img src="https://dummyimage.com/710x200/000/fff" style="width:100%">
        </td>
        <td class="col-md-6" colspan="6">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc vel porta feugiat. Duis molestie aliquet posuere. Maecenas ligula orci, pharetra sed orci vel, facilisis pretium ligula. Cras risus libero, lacinia in elit vel, pulvinar vestibulum lectus. Nunc facilisis nec dolor consectetur gravida.</p>
        </td>
        <td class="col-md-6" colspan="6">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc vel porta feugiat. Duis molestie aliquet posuere. Maecenas ligula orci, pharetra sed orci vel, facilisis pretium ligula. Cras risus libero, lacinia in elit vel, pulvinar vestibulum lectus. Nunc facilisis nec dolor consectetur gravida.</p>
        </td>
    </tr>
</table>